doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
    // Title
    title Cryptos - Cryptocurrency & Mining Template
    // Favicon
    link(rel='icon', href='img/core-img/favicon.ico')
    // Core Stylesheet
    link(rel='stylesheet', href='style.css')
  body
    // ##### Preloader #####
    #preloader
      i.circle-preloader
    // ##### Header Area Start #####
    header.header-area
      // Top Header Area
      .top-header
        .container.h-100
          .row.h-100
            .col-12.h-100
              .top-header-content.h-100.d-flex.align-items-center.justify-content-between
                // Top Headline
                .top-headline
                  p
                    | Welcome to 
                    span Cryptos
                // Top Login & Faq & Earn Monery btn
                .login-faq-earn-money
                  a(href='#') Login | Register
                  a(href='#') FAQ
                  a.active(href='#') Earn Money
      // Navbar Area
      .cryptos-main-menu
        .classy-nav-container.breakpoint-off
          .container
            // Menu
            nav#cryptosNav.classy-navbar.justify-content-between
              // Logo
              a.nav-brand(href='index.html')
                img(src='img/core-img/logo.png', alt='')
              // Navbar Toggler
              .classy-navbar-toggler
                span.navbarToggler
                  span
                  span
                  span
              // Menu
              .classy-menu
                // close btn
                .classycloseIcon
                  .cross-wrap
                    span.top
                    span.bottom
                // Nav Start
                .classynav
                  ul
                    li
                      a(href='index.html') Home
                    li
                      a(href='#') Pages
                      ul.dropdown
                        li
                          a(href='index.html') Home
                        li
                          a(href='about-us.html') About Us
                        li
                          a(href='blog.html') Articles
                        li
                          a(href='contact.html') Contact
                        li
                          a(href='elements.html') Elements
                        li
                          a(href='#') Dropdown
                          ul.dropdown
                            li
                              a(href='index.html') Home
                            li
                              a(href='about-us.html') About Us
                            li
                              a(href='blog.html') Articles
                            li
                              a(href='contact.html') Contact
                            li
                              a(href='elements.html') Elements
                            li
                              a(href='#') Dropdown
                              ul.dropdown
                                li
                                  a(href='index.html') Home
                                li
                                  a(href='about-us.html') About Us
                                li
                                  a(href='blog.html') Articles
                                li
                                  a(href='contact.html') Contact
                                li
                                  a(href='elements.html') Elements
                    li
                      a(href='#') Mega Menu
                      .megamenu
                        ul.single-mega.cn-col-4
                          li
                            a(href='#') - Home
                          li
                            a(href='#') - About us
                          li
                            a(href='#') - Services
                          li
                            a(href='#') - Testimonials
                          li
                            a(href='#') - News
                          li
                            a(href='#') - About us
                        ul.single-mega.cn-col-4
                          li
                            a(href='#') - Contact
                          li
                            a(href='#') - Faq
                          li
                            a(href='#') - Terms & Conditions
                          li
                            a(href='#') - Careers
                          li
                            a(href='#') - Newsletter & Exchange
                          li
                            a(href='#') - Terms & Conditions
                        ul.single-mega.cn-col-4
                          li
                            a(href='#') - About us
                          li
                            a(href='#') - Testimonials
                          li
                            a(href='#') - Contact
                          li
                            a(href='#') - Terms & Conditions
                          li
                            a(href='#') - Newsletter & Exchange
                          li
                            a(href='#') - Contact
                        .single-mega.cn-col-4
                          .megamenu-slides.owl-carousel
                            img(src='img/bg-img/bg-1.jpg', alt='')
                            img(src='img/bg-img/bg-1.jpg', alt='')
                    li
                      a(href='#') Currencies
                    li
                      a(href='contact.html') Contact
                  // Newsletter Form
                  .header-newsletter-form
                    form(action='#', method='post')
                      input#email(type='email', name='email', placeholder='Newsletter')
                      button(type='submit') Subscribe
                // Nav End
                // ##### Header Area End #####
                // ##### Breadcumb Area Start #####
                .breadcumb-area
                  .container.h-100
                    .row.h-100.align-items-center
                      .col-12.col-md-6
                        .breadcumb-text
                          h2 Crypto News
                  // Breadcumb Thumb Area
                  .breadcumb-thumb-area
                    .container
                      .row
                        .col-12
                          .breadcumb-thumb
                            img(src='img/bg-img/breadcumb.png', alt='')
                // ##### Breadcumb Area End #####
                // ##### Blog Area Start #####
                .blog-area.section-padding-100
                  .container
                    .row
                      .col-12.col-lg-8
                        .cryptos-blog-posts
                          .row
                            // Single Blog Area
                            .col-12
                              .single-blog-area.blog-style-2.mb-100
                                // Thumbnail
                                .blog-thumbnail
                                  img(src='img/blog-img/blog1.jpg', alt='')
                                // Content
                                .blog-content
                                  a.post-title(href='#') This Platform Aims to Disrupt the Market
                                  .meta-data
                                    a(href='#') Crypto News
                                    |  |
                                    a(href='#') March 18, 2018
                                  p
                                    | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                                  a.btn.cryptos-btn.mt-50(href='#') Read More
                            .col-12
                              .blog-section-heading
                                h3 Today’s News
                            .col-12
                              // Single Blog Area
                              .single-blog-area.d-flex.align-items-start
                                // Thumbnail
                                .blog-thumbnail
                                  img(src='img/blog-img/1.jpg', alt='')
                                // Content
                                .blog-content
                                  a.post-title(href='#') This Platform Aims to Disrupt the Market
                                  .meta-data
                                    a(href='#') Crypto News
                                    |  |
                                    a(href='#') March 18, 2018
                                  p
                                    | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                              // Single Blog Area
                              .single-blog-area.d-flex.align-items-start
                                // Thumbnail
                                .blog-thumbnail
                                  img(src='img/blog-img/2.jpg', alt='')
                                // Content
                                .blog-content
                                  a.post-title(href='#') New Hedge Funds invests in Crypto
                                  .meta-data
                                    a(href='#') Crypto News
                                    |  |
                                    a(href='#') March 18, 2018
                                  p
                                    | Iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis. Ut in iaculis enim.
                              // Single Blog Area
                              .single-blog-area.d-flex.align-items-start
                                // Thumbnail
                                .blog-thumbnail
                                  img(src='img/blog-img/3.jpg', alt='')
                                // Content
                                .blog-content
                                  a.post-title(href='#') This Platform Aims to Disrupt the Market
                                  .meta-data
                                    a(href='#') Crypto News
                                    |  |
                                    a(href='#') March 18, 2018
                                  p
                                    | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                              // Single Blog Area
                              .single-blog-area.d-flex.align-items-start
                                // Thumbnail
                                .blog-thumbnail
                                  img(src='img/blog-img/4.jpg', alt='')
                                // Content
                                .blog-content
                                  a.post-title(href='#') This Platform Aims to Disrupt the Market
                                  .meta-data
                                    a(href='#') Crypto News
                                    |  |
                                    a(href='#') March 18, 2018
                                  p
                                    | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                      .col-12.col-lg-4
                        .cryptos-blog-sidebar-area
                          // Section Heading
                          .blog-section-heading.mb-50
                            h3 Recent News
                          .single-blog-area.blog-style-2.mb-50
                            // Thumbnail
                            .blog-thumbnail
                              img(src='img/blog-img/blog3.jpg', alt='')
                            // Content
                            .blog-content
                              a.post-title(href='#') This Platform Aims to Disrupt the Market
                              .meta-data
                                a(href='#') Crypto News
                                |  |
                                a(href='#') March 18, 2018
                              p
                                | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                          .single-blog-area.blog-style-2.mb-100
                            // Thumbnail
                            .blog-thumbnail
                              img(src='img/blog-img/blog4.jpg', alt='')
                            // Content
                            .blog-content
                              a.post-title(href='#') This Platform Aims to Disrupt the Market
                              .meta-data
                                a(href='#') Crypto News
                                |  |
                                a(href='#') March 18, 2018
                              p
                                | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                          // Section Heading
                          .blog-section-heading.mb-50
                            h3 Trending Posts
                          // Single Blog Area
                          .single-blog-area.blog-style-3.d-flex.align-items-center.mb-15
                            // Thumbnail
                            .blog-thumbnail
                              img(src='img/blog-img/5.jpg', alt='')
                            // Content
                            .blog-content
                              a.post-title(href='#') FunFacts about Bitcoin
                              .meta-data
                                a(href='#') March 18, 2018
                          // Single Blog Area
                          .single-blog-area.blog-style-3.d-flex.align-items-center.mb-15
                            // Thumbnail
                            .blog-thumbnail
                              img(src='img/blog-img/6.jpg', alt='')
                            // Content
                            .blog-content
                              a.post-title(href='#') BLockchain tips
                              .meta-data
                                a(href='#') March 18, 2018
                          // Single Blog Area
                          .single-blog-area.blog-style-3.d-flex.align-items-center.mb-15
                            // Thumbnail
                            .blog-thumbnail
                              img(src='img/blog-img/7.jpg', alt='')
                            // Content
                            .blog-content
                              a.post-title(href='#') March Price Analisys
                              .meta-data
                                a(href='#') March 18, 2018
                  // Newsletter Area
                  .container
                    .row
                      .col-12
                        .newsletter-area.mt-100
                          .section-heading.text-center.mx-auto
                            h3
                              | Subscribe to 
                              span Newsletter
                            h6
                              | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl.
                          form(action='#', method='post')
                            input(type='email', name='email', placeholder='Subscribe to newsletter')
                            button(type='submit') Subscribe
                // ##### Blog Area End #####
                // ##### Footer Area Start #####
                footer.footer-area
                  // Main Footer Area
                  .main-footer-area.section-padding-100-0.bg-img.bg-overlay(style='background-image: url(img/bg-img/bg-1.jpg);')
                    .container
                      .row
                        // Footer Widget Area
                        .col-12.col-sm-6.col-lg-4
                          .footer-widget.mb-100
                            .widget-title
                              a(href='#')
                                img(src='img/core-img/logo2.png', alt='')
                            p
                              | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis. Ut in iaculis enim, et pulvinar mauris. Etiam tristique magna eget velit consectetur, a tincidunt velit dictum.
                            .footer-social-info
                              a(href='#')
                                i.fa.fa-facebook
                              a(href='#')
                                i.fa.fa-twitter
                              a(href='#')
                                i.fa.fa-dribbble
                              a(href='#')
                                i.fa.fa-behance
                              a(href='#')
                                i.fa.fa-instagram
                        // Footer Widget Area
                        .col-12.col-sm-6.col-lg-4
                          .footer-widget.mb-100
                            .widget-title
                              h6 Recent Posts
                            // Single Blog Post
                            .single--blog-post
                              a(href='#')
                                p Aliquam ac eleifend metus
                              span March 10, 2018
                            // Single Blog Post
                            .single--blog-post
                              a(href='#')
                                p Donec in libero sit amet mi vulputate
                              span March 10, 2018
                            // Single Blog Post
                            .single--blog-post
                              a(href='#')
                                p Aliquam ac eleifend metus
                              span March 10, 2018
                        // Footer Widget Area
                        .col-12.col-md-6.col-lg-4
                          .footer-widget.mb-100
                            .widget-title
                              h6 Quick Links
                            nav
                              ul.useful-links.d-flex.justify-content-between.flex-wrap
                                li
                                  a(href='#') Home
                                li
                                  a(href='#') Faq
                                li
                                  a(href='#') About us
                                li
                                  a(href='#') Terms & Conditions
                                li
                                  a(href='#') Services
                                li
                                  a(href='#') Careers
                                li
                                  a(href='#') Testimonials
                                li
                                  a(href='#') Newsletter & Exchange
                                li
                                  a(href='#') News
                                li
                                  a(href='#') Exchange
                                li
                                  a(href='#') Contact
                  // Bottom Footer Area
                  .bottom-footer-area
                    .container.h-100
                      .row.h-100.align-items-center.justify-content-center
                        .col-12
                          p
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            | Copyright ©
                            script.
                              document.write(new Date().getFullYear());
                            |  All rights reserved | This template is made with 
                            i.fa.fa-heart-o(aria-hidden='true')
                            |  by 
                            a(href='https://colorlib.com', target='_blank') Colorlib
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            // ##### Footer Area Start #####
                            // ##### All Javascript Script #####
                            // jQuery-2.2.4 js
                            script(src='js/jquery/jquery-2.2.4.min.js')
                            // Popper js
                            script(src='js/bootstrap/popper.min.js')
                            // Bootstrap js
                            script(src='js/bootstrap/bootstrap.min.js')
                            // All Plugins js
                            script(src='js/plugins/plugins.js')
                            // Active js
                            script(src='js/active.js')
