doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
    // Title
    title Cryptos - Cryptocurrency & Mining Template
    // Favicon
    link(rel='icon', href='img/core-img/favicon.ico')
    // Core Stylesheet
    link(rel='stylesheet', href='style.css')
  body
    // ##### Preloader #####
    #preloader
      i.circle-preloader
    // ##### Header Area Start #####
    header.header-area
      // Top Header Area
      .top-header
        .container.h-100
          .row.h-100
            .col-12.h-100
              .top-header-content.h-100.d-flex.align-items-center.justify-content-between
                // Top Headline
                .top-headline
                  p
                    | Welcome to 
                    span Cryptos
                // Top Login & Faq & Earn Monery btn
                .login-faq-earn-money
                  a(href='#') Login | Register
                  a(href='#') FAQ
                  a.active(href='#') Earn Money
      // Navbar Area
      .cryptos-main-menu
        .classy-nav-container.breakpoint-off
          .container
            // Menu
            nav#cryptosNav.classy-navbar.justify-content-between
              // Logo
              a.nav-brand(href='index.html')
                img(src='img/core-img/logo.png', alt='')
              // Navbar Toggler
              .classy-navbar-toggler
                span.navbarToggler
                  span
                  span
                  span
              // Menu
              .classy-menu
                // close btn
                .classycloseIcon
                  .cross-wrap
                    span.top
                    span.bottom
                // Nav Start
                .classynav
                  ul
                    li
                      a(href='index.html') Home
                    li
                      a(href='#') Pages
                      ul.dropdown
                        li
                          a(href='index.html') Home
                        li
                          a(href='about-us.html') About Us
                        li
                          a(href='blog.html') Articles
                        li
                          a(href='contact.html') Contact
                        li
                          a(href='elements.html') Elements
                        li
                          a(href='#') Dropdown
                          ul.dropdown
                            li
                              a(href='index.html') Home
                            li
                              a(href='about-us.html') About Us
                            li
                              a(href='blog.html') Articles
                            li
                              a(href='contact.html') Contact
                            li
                              a(href='elements.html') Elements
                            li
                              a(href='#') Dropdown
                              ul.dropdown
                                li
                                  a(href='index.html') Home
                                li
                                  a(href='about-us.html') About Us
                                li
                                  a(href='blog.html') Articles
                                li
                                  a(href='contact.html') Contact
                                li
                                  a(href='elements.html') Elements
                    li
                      a(href='#') Mega Menu
                      .megamenu
                        ul.single-mega.cn-col-4
                          li
                            a(href='#') - Home
                          li
                            a(href='#') - About us
                          li
                            a(href='#') - Services
                          li
                            a(href='#') - Testimonials
                          li
                            a(href='#') - News
                          li
                            a(href='#') - About us
                        ul.single-mega.cn-col-4
                          li
                            a(href='#') - Contact
                          li
                            a(href='#') - Faq
                          li
                            a(href='#') - Terms & Conditions
                          li
                            a(href='#') - Careers
                          li
                            a(href='#') - Newsletter & Exchange
                          li
                            a(href='#') - Terms & Conditions
                        ul.single-mega.cn-col-4
                          li
                            a(href='#') - About us
                          li
                            a(href='#') - Testimonials
                          li
                            a(href='#') - Contact
                          li
                            a(href='#') - Terms & Conditions
                          li
                            a(href='#') - Newsletter & Exchange
                          li
                            a(href='#') - Contact
                        .single-mega.cn-col-4
                          .megamenu-slides.owl-carousel
                            img(src='img/bg-img/bg-1.jpg', alt='')
                            img(src='img/bg-img/bg-1.jpg', alt='')
                    li
                      a(href='#') Currencies
                    li
                      a(href='contact.html') Contact
                  // Newsletter Form
                  .header-newsletter-form
                    form(action='#', method='post')
                      input#email(type='email', name='email', placeholder='Newsletter')
                      button(type='submit') Subscribe
                // Nav End
                // ##### Header Area End #####
                // ##### Breadcumb Area Start #####
                .breadcumb-area
                  .container.h-100
                    .row.h-100.align-items-center
                      .col-12.col-md-6
                        .breadcumb-text
                          h2 Elements
                  // Breadcumb Thumb Area
                  .breadcumb-thumb-area
                    .container
                      .row
                        .col-12
                          .breadcumb-thumb
                            img(src='img/bg-img/breadcumb.png', alt='')
                // ##### Breadcumb Area End #####
                // ##### Elements Area Start #####
                section.elements-area.mt-50.section-padding-100-0
                  .container
                    .row
                      // ********** Buttons **********
                      .col-12
                        .elements-title.mb-100
                          h2 Buttons
                        // Buttons
                        .cryptos-buttons-area.mb-100
                          a.btn.cryptos-btn.btn-2.m-2(href='#') Contact Us
                          a.btn.cryptos-btn.m-2(href='#') Contact Us
                          a.btn.cryptos-btn.btn-3.m-2(href='#') Contact Us
                      // ********** Progress Bars & Accordions **********
                      .col-12
                        .elements-title.mb-100
                          h2 Accordians & Tabs
                      // ##### Accordians #####
                      .col-12.col-lg-6
                        #accordion.accordions.mb-100(role='tablist', aria-multiselectable='true')
                          // Single Accordian Area
                          .panel.single-accordion
                            h6
                              a(role='button', aria-expanded='true', aria-controls='collapseOne', data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                | Donec ipsum metus, pharetr a quis nunc sit amet, maximus.
                                span.accor-open
                                  i.fa.fa-plus(aria-hidden='true')
                                span.accor-close
                                  i.fa.fa-minus(aria-hidden='true')
                            #collapseOne.accordion-content.collapse.show
                              p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate id justo quis facilisis.
                          // Single Accordian Area
                          .panel.single-accordion
                            h6
                              a.collapsed(role='button', aria-expanded='true', aria-controls='collapseTwo', data-parent='#accordion', data-toggle='collapse', href='#collapseTwo')
                                | Maximus vehicula nibh. Prae sent pulvinar porta.
                                span.accor-open
                                  i.fa.fa-plus(aria-hidden='true')
                                span.accor-close
                                  i.fa.fa-minus(aria-hidden='true')
                            #collapseTwo.accordion-content.collapse
                              p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate id justo quis facilisis.
                          // Single Accordian Area
                          .panel.single-accordion
                            h6
                              a.collapsed(role='button', aria-expanded='true', aria-controls='collapseThree', data-parent='#accordion', data-toggle='collapse', href='#collapseThree')
                                | Pharetr a quis nunc sit amet, maximus vehicula nibh.
                                span.accor-open
                                  i.fa.fa-plus(aria-hidden='true')
                                span.accor-close
                                  i.fa.fa-minus(aria-hidden='true')
                            #collapseThree.accordion-content.collapse
                              p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate id justo quis facilisis.
                      // ##### Tabs #####
                      .col-12.col-lg-6
                        .cryptos-tabs-content
                          ul#myTab.nav.nav-tabs(role='tablist')
                            li.nav-item
                              a#tab--1.nav-link(data-toggle='tab', href='#tab1', role='tab', aria-controls='tab1', aria-selected='false') Morbi vel arcu
                            li.nav-item
                              a#tab--2.nav-link.active(data-toggle='tab', href='#tab2', role='tab', aria-controls='tab2', aria-selected='false') Sed faucibus
                            li.nav-item
                              a#tab--3.nav-link(data-toggle='tab', href='#tab3', role='tab', aria-controls='tab3', aria-selected='true') Sed faucibus mau
                          #myTabContent.tab-content.mb-100
                            #tab1.tab-pane.fade(role='tabpanel', aria-labelledby='tab--1')
                              .cryptos-tab-content
                                // Tab Text
                                .cryptos-tab-text
                                  p
                                    | Integer nec bibendum lacus. Praesent malesuada congue, Suspendisse dictum enim sit amet libero malesu ada feugiat. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Praesent malesuada congue.
                            #tab2.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab--2')
                              .cryptos-tab-content
                                // Tab Text
                                .cryptos-tab-text
                                  p
                                    | Integer nec bibendum lacus. Praesent malesuada congue, Suspendisse dictum enim sit amet libero malesu ada feugiat. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Praesent malesuada congue.
                            #tab3.tab-pane.fade(role='tabpanel', aria-labelledby='tab--3')
                              .cryptos-tab-content
                                // Tab Text
                                .cryptos-tab-text
                                  p
                                    | Integer nec bibendum lacus. Praesent malesuada congue, Suspendisse dictum enim sit amet libero malesu ada feugiat. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Praesent malesuada congue.
                      // ********** Milestones **********
                      .col-12
                        .elements-title.mb-100
                          h2 Milestone
                      .col-12
                        .cryptos-cool-facts-area
                          .row
                            // Single Cool Fact
                            .col-12.col-sm-6.col-md-3
                              .single-cool-fact.text-center.mb-100
                                h3
                                  span.counter 21
                                  | mil
                                .line
                                h6 Bitcoins
                            // Single Cool Fact
                            .col-12.col-sm-6.col-md-3
                              .single-cool-fact.text-center.mb-100
                                h3
                                  span.counter 560
                                  | bil
                                .line
                                h6 Market cap
                            // Single Cool Fact
                            .col-12.col-sm-6.col-md-3
                              .single-cool-fact.text-center.mb-100
                                h3
                                  span.counter 120
                                  | k
                                .line
                                h6 Readeres
                            // Single Cool Fact
                            .col-12.col-sm-6.col-md-3
                              .single-cool-fact.text-center.mb-100
                                h3
                                  span.counter 1234
                                .line
                                h6 ICO's
                      // ********** Loaders **********
                      .col-12
                        .elements-title.mb-100
                          h2 Loaders
                      .col-12
                        // Loaders Area Start
                        .our-skills-area.text-center
                          .row
                            .col-12.col-sm-6.col-md-3
                              .single-pie-bar.mb-100(data-percent='75')
                                canvas.bar-circle(width='70', height='70')
                                h6 New Users
                            .col-12.col-sm-6.col-md-3
                              .single-pie-bar.mb-100(data-percent='95')
                                canvas.bar-circle(width='70', height='70')
                                h6 Work
                            .col-12.col-sm-6.col-md-3
                              .single-pie-bar.mb-100(data-percent='100')
                                canvas.bar-circle(width='70', height='70')
                                h6 Exciting
                            .col-12.col-sm-6.col-md-3
                              .single-pie-bar.mb-100(data-percent='55')
                                canvas.bar-circle(width='70', height='70')
                                h6 Institution
                      // ********** Icon Boxes **********
                      .col-12
                        .elements-title.mb-100
                          h2 Icon Boxes
                      .col-12
                        .row
                          // Single Course Area
                          .col-12.col-sm-6.col-lg-4
                            .single-feature-area.style-2.mb-100.text-center
                              i.icon-safebox
                              h3 Fast & Easy
                              p
                                | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum.
                          // Single Course Area
                          .col-12.col-sm-6.col-lg-4
                            .single-feature-area.style-2.mb-100.text-center
                              i.icon-exchange
                              h3 Small Commisions
                              p
                                | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum.
                          // Single Course Area
                          .col-12.col-sm-6.col-lg-4
                            .single-feature-area.style-2.mb-100.text-center
                              i.icon-wallet
                              h3 10% Secure
                              p
                                | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum.
                // ***** Elements Area End *****
                // ##### Footer Area Start #####
                footer.footer-area
                  // Main Footer Area
                  .main-footer-area.section-padding-100-0.bg-img.bg-overlay(style='background-image: url(img/bg-img/bg-1.jpg);')
                    .container
                      .row
                        // Footer Widget Area
                        .col-12.col-sm-6.col-lg-4
                          .footer-widget.mb-100
                            .widget-title
                              a(href='#')
                                img(src='img/core-img/logo2.png', alt='')
                            p
                              | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis. Ut in iaculis enim, et pulvinar mauris. Etiam tristique magna eget velit consectetur, a tincidunt velit dictum.
                            .footer-social-info
                              a(href='#')
                                i.fa.fa-facebook
                              a(href='#')
                                i.fa.fa-twitter
                              a(href='#')
                                i.fa.fa-dribbble
                              a(href='#')
                                i.fa.fa-behance
                              a(href='#')
                                i.fa.fa-instagram
                        // Footer Widget Area
                        .col-12.col-sm-6.col-lg-4
                          .footer-widget.mb-100
                            .widget-title
                              h6 Recent Posts
                            // Single Blog Post
                            .single--blog-post
                              a(href='#')
                                p Aliquam ac eleifend metus
                              span March 10, 2018
                            // Single Blog Post
                            .single--blog-post
                              a(href='#')
                                p Donec in libero sit amet mi vulputate
                              span March 10, 2018
                            // Single Blog Post
                            .single--blog-post
                              a(href='#')
                                p Aliquam ac eleifend metus
                              span March 10, 2018
                        // Footer Widget Area
                        .col-12.col-md-6.col-lg-4
                          .footer-widget.mb-100
                            .widget-title
                              h6 Quick Links
                            nav
                              ul.useful-links.d-flex.justify-content-between.flex-wrap
                                li
                                  a(href='#') Home
                                li
                                  a(href='#') Faq
                                li
                                  a(href='#') About us
                                li
                                  a(href='#') Terms & Conditions
                                li
                                  a(href='#') Services
                                li
                                  a(href='#') Careers
                                li
                                  a(href='#') Testimonials
                                li
                                  a(href='#') Newsletter & Exchange
                                li
                                  a(href='#') News
                                li
                                  a(href='#') Exchange
                                li
                                  a(href='#') Contact
                  // Bottom Footer Area
                  .bottom-footer-area
                    .container.h-100
                      .row.h-100.align-items-center.justify-content-center
                        .col-12
                          p
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            | Copyright ©
                            script.
                              document.write(new Date().getFullYear());
                            |  All rights reserved | This template is made with 
                            i.fa.fa-heart-o(aria-hidden='true')
                            |  by 
                            a(href='https://colorlib.com', target='_blank') Colorlib
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            // ##### Footer Area Start #####
                            // ##### All Javascript Script #####
                            // jQuery-2.2.4 js
                            script(src='js/jquery/jquery-2.2.4.min.js')
                            // Popper js
                            script(src='js/bootstrap/popper.min.js')
                            // Bootstrap js
                            script(src='js/bootstrap/bootstrap.min.js')
                            // All Plugins js
                            script(src='js/plugins/plugins.js')
                            // Active js
                            script(src='js/active.js')
