extends layout
block content
    .hero-wrapper.text-center
        .hero-wrapper-text
            .hero-content
                .table
                    .table-cell
                        .container
                            .row
                                .col-lg-12
                                    h1.cssanimation.effect3d coinbuzz
                                    h3.cssanimation.leFadeInLeft.sequence coinbuzz - Responsive Bitcoin HTML5 Template
    // ##### Course Area Start #####
    .cryptos-feature-area.section-padding-100-0
        .container-fluid
            .row
                .col-12
                    .section-heading.text-center.mx-auto
                        h3
                            | Let&rsquo;s change 
                            br
                            span the world
                            |  together
                        p
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi.
            .row
                // Single Course Area
                .col-12.col-md-6.col-xl-3
                    .single-feature-area.mb-100.text-center
                        i.icon-safebox
                        h3 Fast &amp; Easy
                        p
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum.
                        a.btn.cryptos-btn(href='#') Read More
                // Single Course Area
                .col-12.col-md-6.col-xl-3
                    .single-feature-area.active.mb-100.text-center
                        i.icon-bitcoin
                        h3 No strigs attached
                        p
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum.
                        a.btn.cryptos-btn(href='#') Read More
                // Single Course Area
                .col-12.col-md-6.col-xl-3
                    .single-feature-area.mb-100.text-center
                        i.icon-exchange
                        h3 Small Commisions
                        p
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum.
                        a.btn.cryptos-btn(href='#') Read More
                // Single Course Area
                .col-12.col-md-6.col-xl-3
                    .single-feature-area.mb-100.text-center
                        i.icon-wallet
                        h3 10% Secure
                        p
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum.
                        a.btn.cryptos-btn(href='#') Read More
    // ##### Course Area End #####
    // ##### About Area Start #####
    section.cryptos-about-area
        .container
            .row.align-items-center
                .col-12.col-md-6
                    .about-thumbnail.mb-100
                        img(src='img/bg-img/about.png' alt='')
                .col-12.col-md-6
                    .about-content.mb-100
                        .section-heading
                            h3
                                | Let&rsquo;s change 
                                br
                                span the world
                                |  together
                            h5
                                | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl.
                            p
                                | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi.
                            a.btn.cryptos-btn.mt-30(href='#') Read More
    // ##### About Area End #####
    // ##### Currency Area Start #####
    section.currency-calculator-area.section-padding-100.bg-img.bg-overlay(style='background-image: url(img/bg-img/bg-2.jpg);')
        .container
            .row
                .col-12
                    .section-heading.text-center.white.mx-auto
                        h3.mb-4 Cryptocurrency Calculator
                        h5.mb-2
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl.
                        p
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl. Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi.
            .row
                .col-12
                    .currency-calculator.mb-15.clearfix
                        form.d-flex.align-items-center.justify-content-center(action='#' method='post')
                            // Calculator Part
                            .calculator-first-part.d-flex.align-items-center
                                input(type='text' name='inputNumber' placeholder='1')
                                select
                                    option BTC
                                    option USD
                                    option INR
                                    option BDT
                            // Equal Sign
                            .equal-sign =
                            // Calculator Part
                            .calculator-sec-part.d-flex.align-items-center
                                input(type='text' name='inputNumber' placeholder='940045')
                                select
                                    option EUR
                                    option USD
                                    option INR
                                    option BDT
                    .currency-calculator.mb-15
                        form.d-flex.align-items-center.justify-content-center(action='#' method='post')
                            // Calculator Part
                            .calculator-first-part.d-flex.align-items-center
                                input(type='text' name='inputNumber' placeholder='10400')
                                select
                                    option USD
                                    option BTC
                                    option INR
                                    option BDT
                            // Equal Sign
                            .equal-sign =
                            // Calculator Part
                            .calculator-sec-part.d-flex.align-items-center
                                input(type='text' name='inputNumber' placeholder='1.02')
                                select
                                    option BTC
                                    option USD
                                    option INR
                                    option BDT
    // ##### Currency Area End #####
    // ##### Blog Area Start #####
    section.cryptos-blog-area.section-padding-100
        .container
            .row.align-items-center
                .col-12.col-lg-7
                    .blog-area
                        // Single Blog Area
                        .single-blog-area.d-flex.align-items-start
                            // Thumbnail
                            .blog-thumbnail
                                img(src='img/blog-img/1.jpg' alt='')
                            // Content
                            .blog-content
                                a.post-title(href='#') This Platform Aims to Disrupt the Market
                                .meta-data
                                    a(href='#') Crypto News
                                    |  |
                                    a(href='#') March 18, 2018
                                p
                                    | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                    // Single Blog Area
                    .single-blog-area.d-flex.align-items-start
                        // Thumbnail
                        .blog-thumbnail
                            img(src='img/blog-img/2.jpg' alt='')
                        // Content
                        .blog-content
                            a.post-title(href='#') New Hedge Funds invests in Crypto
                            .meta-data
                                a(href='#') Crypto News
                                |  |
                                a(href='#') March 18, 2018
                            p
                                | Iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis. Ut in iaculis enim.
                    // Single Blog Area
                    .single-blog-area.d-flex.align-items-start
                        // Thumbnail
                        .blog-thumbnail
                            img(src='img/blog-img/3.jpg' alt='')
                        // Content
                        .blog-content
                            a.post-title(href='#') This Platform Aims to Disrupt the Market
                            .meta-data
                                a(href='#') Crypto News
                                |  |
                                a(href='#') March 18, 2018
                            p
                                | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis.
                .col-12.col-lg-5
                    .cryptos-prices-table
                        // Single Price Table
                        .single-price-table.d-flex.align-items-center.justify-content-between
                            .p-content.d-flex.align-items-center
                                span 01
                                img(src='img/bg-img/bitcoin.png' alt='')
                                p
                                    | Bitcoin 
                                    span BTC
                            .price.increase
                                p $12 456.78
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 02
                            img(src='img/bg-img/ethereum.png' alt='')
                            p
                                | Ethereum 
                                span ETH
                        .price.increase
                            p $1051.98
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 03
                            img(src='img/bg-img/bitcoin-cash.png' alt='')
                            p
                                | Bitcoin Cash 
                                span BCH
                        .price.decrease
                            p $2256.78
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 04
                            img(src='img/bg-img/ripple.png' alt='')
                            p
                                | Ripple 
                                span XRP
                        .price.increase
                        p $2.03
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 05
                            img(src='img/bg-img/litecoin.png' alt='')
                            p
                                | Litecoin 
                                span LTC
                        .price.increase
                            p $321.98
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 06
                            img(src='img/bg-img/cardano.png' alt='')
                            p
                                | Cardano 
                                span ADA
                        .price.increase
                            p $0.75
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 07
                            img(src='img/bg-img/nem.png' alt='')
                            p
                                | NEM 
                                span XEM
                        .price.increase
                            p $0.89
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 08
                            img(src='img/bg-img/neo.png' alt='')
                            p
                                | NEO 
                                span NEO
                        .price.decrease
                            p $123.90
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 09
                            img(src='img/bg-img/stellar.png' alt='')
                            p
                                | Stellar 
                                span XLM
                        .price.increase
                            p $0.67
                    // Single Price Table
                    .single-price-table.d-flex.align-items-center.justify-content-between
                        .p-content.d-flex.align-items-center
                            span 10
                            img(src='img/bg-img/iota.png' alt='')
                            p
                                | IOTA 
                                span IOT
                        .price.increase
                            p $3.55
        // Newsletter Area
        .container
            .row
                .col-12
                    .newsletter-area.mt-100
                        .section-heading.text-center.mx-auto
                            h3
                                | Subscribe to 
                                span Newsletter
                            h6
                            | Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget nisl.
                        form(action='#' method='post')
                            input(type='email' name='email' placeholder='Subscribe to newsletter')
                            button(type='submit') Subscribe

