doctype html
html
  head
    title Crypto
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block links
      link(rel='icon', href='img/core-img/favicon.ico')
      // Core Stylesheet
      link(rel="stylesheet", href="css/bootstrap.min.css")
      link(rel="stylesheet", href="css/owl.carousel.min.css")
      link(rel="stylesheet", href="css/animate.css")
      link(rel="stylesheet", href="css/magnific-popup.css")
      link(rel="stylesheet", href="css/font-awesome.min.css")
      link(rel="stylesheet", href="css/custom-icon.css")
      link(rel="stylesheet", href="css/classy-nav.min.css")
      link(rel='stylesheet', href='css/style.css')
  body
    block header
      // ##### Preloader #####
      #preloader
        i.circle-preloader
      // ##### Header Area Start #####
      header.header-area
        //- // Top Header Area
        //- .top-header
        //-   .container.h-100
        //-     .row.h-100
        //-       .col-12.h-100
        //-         .top-header-content.h-100.d-flex.align-items-center.justify-content-between
        //-           // Top Headline
        //-           .top-headline
        //-             p
        //-               | Welcome to 
        //-               span Cryptos
        //-           // Top Login & Faq & Earn Monery btn
        //-           .login-faq-earn-money
        //-             a(href='#') Login | Register
        //-             a(href='#') FAQ
        //-             a.active(href='#') Earn Money
        // Navbar Area
        .cryptos-main-menu
          .classy-nav-container.breakpoint-off
            .container
              // Menu
              nav#cryptosNav.classy-navbar.justify-content-between
                // Logo
                a.nav-brand(href='index.html')
                  img(src='img/core-img/logo.png', alt='')
                // Navbar Toggler
                .classy-navbar-toggler
                  span.navbarToggler
                    span
                    span
                    span
                // Menu
                .classy-menu
                  // close btn
                  .classycloseIcon
                    .cross-wrap
                      span.top
                      span.bottom
                  // Nav Start
                  .classynav
                    ul
                      li
                        a(href='index.html') Home
                      li
                        a(href='#') Pages
                      //-   ul.dropdown
                      //-     li
                      //-       a(href='index.html') Home
                      //-     li
                      //-       a(href='about-us.html') About Us
                      //-     li
                      //-       a(href='blog.html') Articles
                      //-     li
                      //-       a(href='contact.html') Contact
                      //-     li
                      //-       a(href='elements.html') Elements
                      //-     li
                      //-       a(href='#') Dropdown
                      //-       ul.dropdown
                      //-         li
                      //-           a(href='index.html') Home
                      //-         li
                      //-           a(href='about-us.html') About Us
                      //-         li
                      //-           a(href='blog.html') Articles
                      //-         li
                      //-           a(href='contact.html') Contact
                      //-         li
                      //-           a(href='elements.html') Elements
                      //-         li
                      //-           a(href='#') Dropdown
                      //-           ul.dropdown
                      //-             li
                      //-               a(href='index.html') Home
                      //-             li
                      //-               a(href='about-us.html') About Us
                      //-             li
                      //-               a(href='blog.html') Articles
                      //-             li
                      //-               a(href='contact.html') Contact
                      //-             li
                      //-               a(href='elements.html') Elements
                      li
                        a(href='#') Menu
                      //-   .megamenu
                      //-     ul.single-mega.cn-col-4
                      //-       li
                      //-         a(href='#') - Home
                      //-       li
                      //-         a(href='#') - About us
                      //-       li
                      //-         a(href='#') - Services
                      //-       li
                      //-         a(href='#') - Testimonials
                      //-       li
                      //-         a(href='#') - News
                      //-       li
                      //-         a(href='#') - About us
                      //-     ul.single-mega.cn-col-4
                      //-       li
                      //-         a(href='#') - Contact
                      //-       li
                      //-         a(href='#') - Faq
                      //-       li
                      //-         a(href='#') - Terms & Conditions
                      //-       li
                      //-         a(href='#') - Careers
                      //-       li
                      //-         a(href='#') - Newsletter & Exchange
                      //-       li
                      //-         a(href='#') - Terms & Conditions
                      //-     ul.single-mega.cn-col-4
                      //-       li
                      //-         a(href='#') - About us
                      //-       li
                      //-         a(href='#') - Testimonials
                      //-       li
                      //-         a(href='#') - Contact
                      //-       li
                      //-         a(href='#') - Terms & Conditions
                      //-       li
                      //-         a(href='#') - Newsletter & Exchange
                      //-       li
                      //-         a(href='#') - Contact
                      //-     .single-mega.cn-col-4
                      //-       .megamenu-slides.owl-carousel
                      //-         img(src='img/bg-img/bg-1.jpg', alt='')
                      //-         img(src='img/bg-img/bg-1.jpg', alt='')
                      li
                        a(href='#') Currencies
                      li
                        a(href='contact.html') Contact
                    // Newsletter Form
                  // Nav End
                  // ##### Header Area End #####
    block content

    block footer
      // ##### Footer Area Start #####
      footer.footer-area
        // Main Footer Area
        .main-footer-area.section-padding-100-0.bg-img.bg-overlay(style='background-image: url(img/bg-img/bg-1.jpg);')
          .container
            .row
              // Footer Widget Area
              .col-12.col-sm-6.col-lg-4
                .footer-widget.mb-100
                  .widget-title
                    a(href='#')
                      img(src='img/core-img/logo2.png', alt='')
                  p
                    | Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis. Ut in iaculis enim, et pulvinar mauris. Etiam tristique magna eget velit consectetur, a tincidunt velit dictum.
                  .footer-social-info
                    a(href='#')
                      i.fa.fa-facebook
                    a(href='#')
                      i.fa.fa-twitter
                    a(href='#')
                      i.fa.fa-dribbble
                    a(href='#')
                      i.fa.fa-behance
                    a(href='#')
                      i.fa.fa-instagram
              // Footer Widget Area
              .col-12.col-sm-6.col-lg-4
                .footer-widget.mb-100
                  .widget-title
                    h6 Recent Posts
                  // Single Blog Post
                  .single--blog-post
                    a(href='#')
                      p Aliquam ac eleifend metus
                    span March 10, 2018
                  // Single Blog Post
                  .single--blog-post
                    a(href='#')
                      p Donec in libero sit amet mi vulputate
                    span March 10, 2018
                  // Single Blog Post
                  .single--blog-post
                    a(href='#')
                      p Aliquam ac eleifend metus
                    span March 10, 2018
              // Footer Widget Area
              .col-12.col-md-6.col-lg-4
                .footer-widget.mb-100
                  .widget-title
                    h6 Quick Links
                  nav
                    ul.useful-links.d-flex.justify-content-between.flex-wrap
                      li
                        a(href='#') Home
                      li
                        a(href='#') Faq
                      li
                        a(href='#') About us
                      li
                        a(href='#') Terms & Conditions
                      li
                        a(href='#') Services
                      li
                        a(href='#') Careers
                      li
                        a(href='#') Testimonials
                      li
                        a(href='#') Newsletter & Exchange
                      li
                        a(href='#') News
                      li
                        a(href='#') Exchange
                      li
                        a(href='#') Contact
        // Bottom Footer Area
        .bottom-footer-area
          .container.h-100
            .row.h-100.align-items-center.justify-content-center
              .col-12
                p
                  | Copyright ©
                  script.
                    document.write(new Date().getFullYear());
                  |  All rights reserved 
    block scripts
      // jQuery-2.2.4 js
      script(src='javascripts/jquery/jquery-2.2.4.min.js')
      // Popper js
      script(src='javascripts/bootstrap/popper.min.js')
      // Bootstrap js
      script(src='javascripts/bootstrap/bootstrap.min.js')
      // All Plugins js
      script(src='javascripts/plugins/plugins.js')
      // Active js
      script(src='javascripts/active.js')
