* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292929;
  line-height: 1.3;
  font-weight: 600; }

p {
  font-family: "Open Sans", sans-serif;
  color: #8e8e8e;
  font-size: 14px;
  line-height: 2;
  font-weight: 500; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #292929;
  font-weight: 400;
  font-size: 16px; }

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/* Spacing */
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

/* Height */
.height-400 {
  height: 400px !important; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }

.height-700 {
  height: 700px !important; }

.height-800 {
  height: 800px !important; }

/* Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px; }

/* Section Heading */
.section-heading {
  position: relative;
  z-index: 1;
  max-width: 730px;
  margin-bottom: 90px; }
  .section-heading h3 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 300; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h3 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h3 {
        font-size: 32px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h3 {
        font-size: 30px; } }
    .section-heading h3 span {
      font-weight: 600; }
  .section-heading h5 {
    margin-bottom: 40px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 2; }
  .section-heading p {
    margin-bottom: 0; }
  .section-heading.text-left {
    text-align: left !important; }
  .section-heading.white h3,
  .section-heading.white h5,
  .section-heading.white p {
    color: #ffffff; }

/* Preloader */
#preloader {
  background: #0d104d;
  background: -webkit-linear-gradient(to right, #0d104d, #28408b);
  background: linear-gradient(to right, #0d104d, #28408b);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000; }
  #preloader .circle-preloader {
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 2s infinite linear; }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* banner */
.navbar-header {
	padding:32px 0;
}
.hero-wrapper{
  position:relative;
  height:500px;
  overflow:hidden;
}
.hero-wrapper:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ff7700;
  content: "";
  opacity: .6;
}
.ptb-100{padding:50px 0px 100px;}
.hero-wrapper {
	background-image: url("../img/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.hero-content {
	height: 100%;
	position: absolute;
	width: 100%;
}
.table{
	display:table;
	height:100%;
}
.table-cell{
	display:table-cell;
	vertical-align:middle;
}
.hero-content > h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 36px;
}
.table-cell h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-content h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.hero-content p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;

}
.hero-content p span {
  margin: 0 12px;
}
.hero-content a {
	background: #ffffff none repeat scroll 0 0;
	border: medium none;
	color: #121212;
	display: inline-block;
	font-weight: 700;
	margin-top: 20px;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
}
.hero-content a:hover {
  background: #ff7700;
  color: #fff;
}
/* end banner */
/* Miscellaneous */
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #000000 !important; }

.bg-transparent {
  background-color: transparent !important; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(10, 12, 18, 0.9);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #ffffff;
  right: 0;
  padding-right: 0;
  width: 30px;
  height: 30px;
  background-color: #ffaf02;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 0;
  right: -30px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mfp-image-holder .mfp-close,
    .mfp-iframe-holder .mfp-close {
      right: 0; } }
  @media only screen and (max-width: 767px) {
    .mfp-image-holder .mfp-close,
    .mfp-iframe-holder .mfp-close {
      right: 0; } }

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent; }

/* ScrollUp */
#scrollUp {
  background-color: #ffaf02;
  border-radius: 0;
  bottom: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 38px;
  right: 60px;
  text-align: center;
  width: 40px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  #scrollUp:hover {
    background-color: #141414; }
  @media only screen and (max-width: 767px) {
    #scrollUp {
      bottom: 30px;
      right: 30px; } }

/* Button */
.cryptos-btn {
  display: inline-block;
  min-width: 150px;
  height: 54px;
  background-color: #eef3f6;
  color: #292929;
  border: none;
  border-radius: 0;
  padding: 0 30px;
  font-size: 12px;
  line-height: 54px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #ffaf02; }
  .cryptos-btn.active, .cryptos-btn:hover, .cryptos-btn:focus {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #292929; }
  .cryptos-btn.btn-2 {
    background-color: #ffaf02;
    border-bottom: 3px solid #292929;
    color: #ffffff; }
    .cryptos-btn.btn-2:hover, .cryptos-btn.btn-2:focus {
      color: #292929;
      background-color: #eef3f6;
      border-bottom: 3px solid #ffaf02; }
  .cryptos-btn.btn-3 {
    background-color: #292929;
    border-bottom: 3px solid #ffaf02;
    color: #ffffff; }
    .cryptos-btn.btn-3:hover, .cryptos-btn.btn-3:focus {
      color: #292929;
      background-color: #eef3f6;
      border-bottom: 3px solid #ffaf02; }

/* :: 5.0 Header Area CSS */
.header-area {
  position: relative;
  z-index: 100;
  width: 100%; }
  .header-area .top-header {
    width: 100%;
    height: 60px;
    background-color: #292929; }
    @media only screen and (max-width: 767px) {
      .header-area .top-header {
        height: 80px;
        padding: 15px 0; } }
    @media only screen and (max-width: 767px) {
      .header-area .top-header .top-header-content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .header-area .top-header .top-headline p {
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400; }
      .header-area .top-header .top-headline p span {
        color: #ffaf02; }
    .header-area .top-header .login-faq-earn-money a {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      margin-right: 30px; }
      .header-area .top-header .login-faq-earn-money a:last-child {
        margin-right: 0; }
      .header-area .top-header .login-faq-earn-money a:hover, .header-area .top-header .login-faq-earn-money a:focus, .header-area .top-header .login-faq-earn-money a.active {
        color: #ffaf02; }
  .header-area .cryptos-main-menu {
    position: relative;
    width: 100%;
    z-index: 100;
    height: 125px; }
    @media only screen and (max-width: 767px) {
      .header-area .cryptos-main-menu {
        height: 80px; } }
    .header-area .cryptos-main-menu .classy-nav-container {
      background-color: transparent; }
    .header-area .cryptos-main-menu .classy-navbar {
      height: 125px;
      padding: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .cryptos-main-menu .classy-navbar {
          padding: 0; } }
      @media only screen and (max-width: 767px) {
        .header-area .cryptos-main-menu .classy-navbar {
          height: 80px; } }
      .header-area .cryptos-main-menu .classy-navbar .classynav ul li a {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize; }
        .header-area .cryptos-main-menu .classy-navbar .classynav ul li a:hover, .header-area .cryptos-main-menu .classy-navbar .classynav ul li a:focus {
          color: #ffaf02; }
    .header-area .cryptos-main-menu .classynav ul li .dropdown li a,
    .header-area .cryptos-main-menu .classynav ul li .megamenu li a {
      font-size: 14px; }
    .header-area .cryptos-main-menu .classynav .header-newsletter-form {
      margin-left: 100px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .cryptos-main-menu .classynav .header-newsletter-form {
          margin-left: 30px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .cryptos-main-menu .classynav .header-newsletter-form {
          margin-left: 18px;
          margin-top: 15px; } }
      @media only screen and (max-width: 767px) {
        .header-area .cryptos-main-menu .classynav .header-newsletter-form {
          margin-left: 18px;
          margin-top: 15px; } }
      .header-area .cryptos-main-menu .classynav .header-newsletter-form form {
        width: 265px;
        height: 35px;
        background-color: #eef3f6;
        position: relative;
        z-index: 1; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .header-area .cryptos-main-menu .classynav .header-newsletter-form form {
            width: 220px; } }
        .header-area .cryptos-main-menu .classynav .header-newsletter-form form input {
          width: 100%;
          height: 35px;
          border: none;
          background-color: transparent;
          padding: 0 15px;
          font-size: 12px;
          font-style: italic; }
        .header-area .cryptos-main-menu .classynav .header-newsletter-form form button {
          width: 90px;
          height: 35px;
          border: none;
          background-color: #eef3f6;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 12px;
          font-weight: 600;
          color: #292929;
          cursor: pointer;
          border-bottom: 2px solid #ffaf02;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms; }
          .header-area .cryptos-main-menu .classynav .header-newsletter-form form button:hover {
            background-color: #292929;
            color: #ffaf02; }

.megamenu-slides .owl-prev,
.megamenu-slides .owl-next {
  background: #0d104d;
  background: -webkit-linear-gradient(to right, #0d104d, #28408b);
  background: linear-gradient(to right, #0d104d, #28408b);
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  top: 50%;
  margin-top: -15px;
  left: 5%;
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 18px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
.megamenu-slides .owl-next {
  left: auto;
  right: 5%; }

/* :: 6.0 Welcome Area CSS */
.hero-slides {
  position: relative;
  z-index: 1; }
  .hero-slides .single-hero-slide {
    width: 100%;
    height: 850px;
    position: relative;
    z-index: 1;
    background: #0d104d;
    background: -webkit-linear-gradient(to right, #0d104d, #28408b);
    background: linear-gradient(to right, #0d104d, #28408b); }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .hero-slides .single-hero-slide {
        height: 650px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .hero-slides .single-hero-slide {
        height: 600px; } }
    @media only screen and (max-width: 767px) {
      .hero-slides .single-hero-slide {
        height: 800px; } }
    .hero-slides .single-hero-slide h2 {
      font-size: 68px;
      color: #ffffff;
      margin-bottom: 30px;
      font-weight: 600; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .hero-slides .single-hero-slide h2 {
          font-size: 48px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .hero-slides .single-hero-slide h2 {
          font-size: 42px; } }
      @media only screen and (max-width: 767px) {
        .hero-slides .single-hero-slide h2 {
          font-size: 30px; } }
      .hero-slides .single-hero-slide h2 span {
        color: #ffaf02; }
    .hero-slides .single-hero-slide h6 {
      color: #ffffff;
      margin-bottom: 60px;
      line-height: 2;
      font-weight: 400; }
    .hero-slides .single-hero-slide .hero-slides-thumb img {
      width: 100%; }
      @media only screen and (max-width: 767px) {
        .hero-slides .single-hero-slide .hero-slides-thumb img {
          width: 60%;
          margin: 0 auto; } }
  .hero-slides .owl-prev,
  .hero-slides .owl-next {
    background-color: #eef3f6;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #292929;
    top: 50%;
    margin-top: -20px;
    left: 5%;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-bottom: 2px solid #ffaf02; }
    @media only screen and (max-width: 767px) {
      .hero-slides .owl-prev,
      .hero-slides .owl-next {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px; } }
    .hero-slides .owl-prev:hover, .hero-slides .owl-prev:focus,
    .hero-slides .owl-next:hover,
    .hero-slides .owl-next:focus {
      background-color: #292929;
      color: #ffaf02; }
  .hero-slides .owl-next {
    left: auto;
    right: 5%; }
  .hero-slides:hover .owl-prev, .hero-slides:hover .owl-next {
    opacity: 1;
    visibility: visible; }

/* :: 7.0 Feature Area CSS */
.cryptos-feature-area {
  position: relative;
  z-index: 1;
  padding-left: 45px;
  padding-right: 45px; }
  @media only screen and (max-width: 767px) {
    .cryptos-feature-area {
      padding-left: 0;
      padding-right: 0; } }

.single-feature-area {
  position: relative;
  z-index: 1;
  padding: 90px 35px;
  background-color: #eef3f6;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-feature-area i {
    font-size: 80px;
    display: block;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
  .single-feature-area h3 {
    font-size: 30px;
    margin-bottom: 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-feature-area h3 {
        font-size: 24px; } }
    @media only screen and (max-width: 767px) {
      .single-feature-area h3 {
        font-size: 22px; } }
  .single-feature-area p {
    display: block;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
  .single-feature-area .cryptos-btn {
    background-color: #ffffff; }
  .single-feature-area.active, .single-feature-area:hover, .single-feature-area:focus {
    background-color: #ffaf02;
    box-shadow: 0 5px 70px rgba(0, 0, 0, 0.15); }
    .single-feature-area.active i,
    .single-feature-area.active h3,
    .single-feature-area.active p, .single-feature-area:hover i,
    .single-feature-area:hover h3,
    .single-feature-area:hover p, .single-feature-area:focus i,
    .single-feature-area:focus h3,
    .single-feature-area:focus p {
      color: #ffffff; }
    .single-feature-area.active .cryptos-btn, .single-feature-area:hover .cryptos-btn, .single-feature-area:focus .cryptos-btn {
      border-bottom-color: #292929; }
      .single-feature-area.active .cryptos-btn:hover, .single-feature-area:hover .cryptos-btn:hover, .single-feature-area:focus .cryptos-btn:hover {
        border-bottom-color: #292929;
        color: #292929; }
  .single-feature-area.style-2 {
    padding: 0;
    background-color: #ffffff; }
    .single-feature-area.style-2 i {
      color: #ffaf02; }
    .single-feature-area.style-2 p {
      margin-bottom: 0; }
    .single-feature-area.style-2.active, .single-feature-area.style-2:hover, .single-feature-area.style-2:focus {
      background-color: #ffffff;
      box-shadow: none; }
      .single-feature-area.style-2.active i, .single-feature-area.style-2:hover i, .single-feature-area.style-2:focus i {
        color: #292929; }
      .single-feature-area.style-2.active h3, .single-feature-area.style-2:hover h3, .single-feature-area.style-2:focus h3 {
        color: #ffaf02; }
      .single-feature-area.style-2.active p, .single-feature-area.style-2:hover p, .single-feature-area.style-2:focus p {
        color: #292929; }

/* :: 8.0 Currency Calculator Area CSS */
.currency-calculator-area {
  position: relative;
  z-index: 1;
  background-attachment: fixed; }

.currency-calculator {
  position: relative;
  z-index: 1; }
  .currency-calculator .calculator-first-part {
    position: relative;
    z-index: 30; }
    .currency-calculator .calculator-first-part form {
      position: relative;
      z-index: 10; }
    .currency-calculator .calculator-first-part input {
      width: 85px;
      height: 53px;
      border: 2px solid #ffaf02;
      border-radius: 0;
      margin-right: 12px;
      background-color: transparent;
      color: #ffffff;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .currency-calculator .calculator-first-part input {
          width: 60px;
          font-size: 14px;
          height: 40px;
          margin-right: 8px; } }
    .currency-calculator .calculator-first-part select {
      position: relative;
      z-index: 10;
      width: 135px;
      height: 53px;
      background-color: #ffffff;
      border-radius: 0;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 52px;
      border: none;
      padding: 0 20px; }
      @media only screen and (max-width: 767px) {
        .currency-calculator .calculator-first-part select {
          padding: 0 10px;
          width: 70px;
          height: 40px;
          font-size: 14px; } }
  .currency-calculator .equal-sign {
    width: 120px;
    height: 53px;
    background-color: transparent;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .currency-calculator .equal-sign {
        width: 40px;
        height: 40px; } }
  .currency-calculator .calculator-sec-part {
    position: relative;
    z-index: 1; }
    .currency-calculator .calculator-sec-part input {
      width: 120px;
      height: 53px;
      border: none;
      border-radius: 0;
      margin-right: 12px;
      background-color: #ffffff;
      color: #292929;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .currency-calculator .calculator-sec-part input {
          width: 70px;
          font-size: 14px;
          margin-right: 8px;
          height: 40px; } }
    .currency-calculator .calculator-sec-part select {
      position: relative;
      z-index: 10;
      width: 135px;
      height: 53px;
      background-color: #ffffff;
      border-radius: 0;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 52px;
      border: none;
      padding: 0 20px; }
      @media only screen and (max-width: 767px) {
        .currency-calculator .calculator-sec-part select {
          padding: 0 10px;
          width: 70px;
          height: 40px;
          font-size: 14px; } }

/* :: 9.0 Blog Area CSS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cryptos-blog-sidebar-area {
    margin-top: 100px; } }
@media only screen and (max-width: 767px) {
  .cryptos-blog-sidebar-area {
    margin-top: 100px; } }

.single-blog-area {
  position: relative;
  z-index: 1;
  margin-bottom: 40px; }
  .single-blog-area:last-child {
    margin-bottom: 0; }
  .single-blog-area .blog-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    max-width: 150px;
    width: 150px;
    margin-right: 40px; }
    @media only screen and (max-width: 767px) {
      .single-blog-area .blog-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px;
        margin-right: 15px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .single-blog-area .blog-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
        flex: 0 0 130px;
        max-width: 130px;
        width: 130px;
        margin-right: 15px; } }
  .single-blog-area .blog-content .post-title {
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
    .single-blog-area .blog-content .post-title:hover {
      color: #ffaf02; }
  .single-blog-area .blog-content p {
    margin-bottom: 0; }
  .single-blog-area .blog-content .meta-data {
    color: #8e8e8e;
    margin-bottom: 15px; }
    .single-blog-area .blog-content .meta-data a {
      display: inline-block;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #8e8e8e; }
      .single-blog-area .blog-content .meta-data a:first-child, .single-blog-area .blog-content .meta-data a:hover {
        color: #ffaf02; }
  .single-blog-area.blog-style-2 .blog-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px; }
  .single-blog-area.blog-style-3 .blog-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    max-width: 90px;
    width: 90px;
    margin-right: 30px;
    border-radius: 50%; }
    .single-blog-area.blog-style-3 .blog-thumbnail img {
      border-radius: 50%; }

.blog-section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 100px; }
  .blog-section-heading h3 {
    font-size: 30px;
    border-bottom: 3px solid #ffaf02;
    display: inline-block;
    line-height: 1.5; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cryptos-prices-table {
    margin-top: 100px; } }
@media only screen and (max-width: 767px) {
  .cryptos-prices-table {
    margin-top: 100px; } }

.single-price-table {
  position: relative;
  z-index: 1;
  padding: 12px 15px;
  background-color: #eef3f6;
  margin-bottom: 2px; }
  .single-price-table:last-child {
    margin-bottom: 0; }
  .single-price-table .p-content span {
    font-size: 12px;
    color: #4c4656;
    margin-right: 10px;
    display: inline-block;
    font-family: "Open Sans", sans-serif; }
  .single-price-table .p-content img {
    margin-right: 10px; }
  .single-price-table .p-content p {
    margin-bottom: 0;
    color: #27232c;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }
    .single-price-table .p-content p span {
      font-size: 14px;
      color: #68757e; }
  .single-price-table .price {
    position: relative;
    z-index: 1; }
    .single-price-table .price p {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 600; }
    .single-price-table .price.increase {
      position: relative;
      z-index: 1; }
      .single-price-table .price.increase p {
        color: #68a85c;
        padding-right: 10px; }
      .single-price-table .price.increase::after {
        position: absolute;
        top: 4px;
        right: 0;
        content: '\f0d8';
        font-family: 'FontAwesome';
        font-size: 12px;
        color: #68a85c;
        z-index: 2; }
    .single-price-table .price.decrease {
      position: relative;
      z-index: 1; }
      .single-price-table .price.decrease p {
        color: #ff0048;
        padding-right: 10px; }
      .single-price-table .price.decrease::after {
        position: absolute;
        top: 4px;
        right: 0;
        content: '\f0d7';
        font-family: 'FontAwesome';
        font-size: 12px;
        color: #ff0048;
        z-index: 2; }

/* :: 10.0 Newsletter Area CSS */
.newsletter-area {
  position: relative;
  z-index: 1;
  background-color: #ffaf02;
  padding: 70px 15px; }
  .newsletter-area .section-heading h6 {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #292929; }
  .newsletter-area form {
    position: relative;
    z-index: 1;
    width: 750px;
    margin: auto; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .newsletter-area form {
        width: 600px; } }
    @media only screen and (max-width: 767px) {
      .newsletter-area form {
        width: 250px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .newsletter-area form {
        width: 350px; } }
    .newsletter-area form input {
      position: relative;
      z-index: 1;
      height: 63px;
      width: 100%;
      background-color: #ffffff;
      border: none;
      padding: 0 40px;
      font-style: italic; }
      @media only screen and (max-width: 767px) {
        .newsletter-area form input {
          padding: 0 15px;
          font-size: 11px; } }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        .newsletter-area form input {
          padding: 0 30px;
          font-size: 12px; } }
    .newsletter-area form button {
      position: absolute;
      width: 150px;
      height: 63px;
      top: 0;
      right: 0;
      z-index: 10;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffaf02;
      font-family: "Open Sans", sans-serif;
      line-height: 1;
      font-weight: 700;
      border: none;
      cursor: pointer;
      background-color: transparent;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      .newsletter-area form button:hover {
        color: #292929; }
      @media only screen and (max-width: 767px) {
        .newsletter-area form button {
          width: 100px; } }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        .newsletter-area form button {
          width: 130px; } }

/* :: 11.0 Footer Area CSS */
.main-footer-area {
  background-color: #232323; }
  .main-footer-area .footer-widget .widget-title {
    margin-bottom: 45px; }
    .main-footer-area .footer-widget .widget-title h6 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      color: #ffffff;
      margin-top: 10px;
      text-transform: uppercase; }
  .main-footer-area .footer-widget .footer-social-info {
    margin-top: 30px;
    display: block; }
    .main-footer-area .footer-widget .footer-social-info a {
      display: inline-block;
      color: #8e8e8e;
      margin-right: 25px; }
      .main-footer-area .footer-widget .footer-social-info a:hover, .main-footer-area .footer-widget .footer-social-info a:focus {
        color: #ffaf02; }
  .main-footer-area .footer-widget .single--blog-post {
    margin-bottom: 30px;
    position: relative;
    z-index: 1; }
    .main-footer-area .footer-widget .single--blog-post:last-child {
      margin-bottom: 0; }
    .main-footer-area .footer-widget .single--blog-post a {
      display: block;
      color: #8e8e8e;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 5px; }
      .main-footer-area .footer-widget .single--blog-post a:hover {
        color: #ffaf02; }
      .main-footer-area .footer-widget .single--blog-post a p {
        margin-bottom: 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .main-footer-area .footer-widget .single--blog-post a p:hover {
          color: #ffaf02; }
    .main-footer-area .footer-widget .single--blog-post span {
      margin-bottom: 0;
      font-size: 14px;
      color: #ffaf02; }
  .main-footer-area .footer-widget .useful-links li {
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
    .main-footer-area .footer-widget .useful-links li a {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 15px;
      display: block;
      color: #8e8e8e; }
      .main-footer-area .footer-widget .useful-links li a:hover, .main-footer-area .footer-widget .useful-links li a:focus {
        color: #ffaf02; }

.bottom-footer-area {
  background-color: #090f1a;
  text-align: center;
  height: 60px; }
  .bottom-footer-area p {
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif; }
    .bottom-footer-area p a {
      color: #8e8e8e;
      font-size: 14px;
      font-family: "Open Sans", sans-serif; }
      .bottom-footer-area p a:hover {
        color: #ffaf02; }

/* :: 12.0 Breadcumb Area CSS */
.breadcumb-area {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 245px;
  background: #0d104d;
  background: -webkit-linear-gradient(to right, #0d104d, #28408b);
  background: linear-gradient(to right, #0d104d, #28408b); }
  @media only screen and (max-width: 767px) {
    .breadcumb-area {
      height: 130px; } }
  .breadcumb-area .breadcumb-text h2 {
    font-size: 48px;
    margin-bottom: 0;
    color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .breadcumb-area .breadcumb-text h2 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .breadcumb-area .breadcumb-text h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .breadcumb-text h2 {
        font-size: 18px; } }
  .breadcumb-area .breadcumb-thumb-area {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; }
    .breadcumb-area .breadcumb-thumb-area .breadcumb-thumb {
      text-align: right;
      top: 15px;
      position: relative;
      z-index: 5; }
      .breadcumb-area .breadcumb-thumb-area .breadcumb-thumb img {
        max-width: 260px; }
        @media only screen and (max-width: 767px) {
          .breadcumb-area .breadcumb-thumb-area .breadcumb-thumb img {
            max-width: 150px; } }

/* :: 13.0 Guideline Step CSS */
.guideline-content {
  position: relative;
  z-index: 1; }
  .guideline-content .single-step {
    padding: 35px 20px 30px;
    background-color: #ffffff;
    border-bottom: 3px solid #ffaf02;
    margin-bottom: 25px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    .guideline-content .single-step:last-child {
      margin-bottom: 0; }
    .guideline-content .single-step .quantity {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      max-width: 70px;
      width: 70px;
      font-size: 36px;
      font-weight: 900;
      line-height: 1;
      color: #ffaf02;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .guideline-content .single-step .step-content h6 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .guideline-content .single-step .step-content p {
      margin-bottom: 0;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .guideline-content .single-step:hover {
      background-color: #292929; }
      .guideline-content .single-step:hover .step-content h6,
      .guideline-content .single-step:hover .step-content p {
        color: #ffffff; }

@media only screen and (max-width: 767px) {
  .guideline-thumb {
    margin-top: 100px; } }

.video-area {
  position: relative;
  z-index: 1; }
  .video-area .video-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* :: 14.0 Contact Area CSS */
.map-area {
  position: relative;
  z-index: 2; }
  .map-area #googleMap {
    width: 100%;
    height: 685px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .map-area #googleMap {
        height: 500px; } }
    @media only screen and (max-width: 767px) {
      .map-area #googleMap {
        height: 350px; } }

.contact-information .contact-social-info a {
  display: inline-block;
  margin-right: 30px;
  color: #8e8e8e; }
  .contact-information .contact-social-info a:hover {
    color: #ffaf02; }
.contact-information .single-contact-info .contact-icon i {
  display: inline-block;
  color: #ffffff;
  background-color: #ffaf02;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border-radius: 50%; }
.contact-information .single-contact-info p {
  color: #292929; }

.contact-form-area .form-control {
  height: 52px;
  width: 100%;
  background-color: #eef3f6;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
  border: none;
  border-bottom: 3px solid #eef3f6;
  border-radius: 0;
  padding: 15px 30px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .contact-form-area .form-control:focus {
    border-bottom: 3px solid #ffaf02;
    box-shadow: none; }
.contact-form-area textarea.form-control {
  height: 200px; }

/* :: 15.0 Elements Area CSS */
.elements-title h2 {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 0; }
  @media only screen and (max-width: 767px) {
    .elements-title h2 {
      font-size: 30px; } }

.single-pie-bar h6 {
  font-size: 18px;
  margin-bottom: 0; }

.single-cool-fact {
  position: relative;
  z-index: 1; }
  .single-cool-fact h3 {
    font-size: 48px;
    margin-bottom: 0;
    color: #ffaf02; }
  .single-cool-fact .line {
    width: 35px;
    height: 5px;
    background-color: #ffaf02;
    margin: 20px auto; }
  .single-cool-fact h6 {
    font-size: 18px;
    margin-bottom: 0; }

/* Accordians */
.single-accordion.panel {
  background-color: #ffffff;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent;
  margin-bottom: 15px; }
.single-accordion:last-of-type {
  margin-bottom: 0; }
.single-accordion h6 {
  margin-bottom: 0;
  text-transform: uppercase; }
  .single-accordion h6 a {
    border-radius: 0;
    background-color: #ffaf02;
    color: #292929;
    border-bottom: 3px solid #292929;
    display: block;
    margin: 0;
    padding: 20px 60px 20px 20px;
    position: relative;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Open Sans", sans-serif; }
    .single-accordion h6 a span {
      font-size: 10px;
      position: absolute;
      right: 20px;
      text-align: center;
      top: 23px; }
      .single-accordion h6 a span.accor-open {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0); }
    .single-accordion h6 a.collapsed {
      background-color: #eef3f6;
      color: #8e8e8e;
      border-bottom: 3px solid #ffaf02; }
      .single-accordion h6 a.collapsed span.accor-close {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0); }
      .single-accordion h6 a.collapsed span.accor-open {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
.single-accordion .accordion-content {
  border-top: 0 solid transparent;
  box-shadow: none; }
  .single-accordion .accordion-content p {
    padding: 20px 15px 5px;
    margin-bottom: 0; }

/* Tabs CSS*/
.cryptos-tabs-content {
  position: relative;
  z-index: 1; }
  .cryptos-tabs-content .nav-tabs {
    border-bottom: none;
    margin-bottom: 50px; }
    .cryptos-tabs-content .nav-tabs .nav-link {
      background-color: #eef3f6;
      color: #8e8e8e;
      border-bottom: 3px solid #ffaf02;
      padding: 0 15px;
      height: 50px;
      line-height: 50px;
      margin: 0 2px;
      border-radius: 0;
      font-size: 14px;
      font-weight: 600;
      font-family: "Open Sans", sans-serif; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .cryptos-tabs-content .nav-tabs .nav-link {
          padding: 0 10px; } }
      @media only screen and (max-width: 767px) {
        .cryptos-tabs-content .nav-tabs .nav-link {
          padding: 0 10px; } }
      .cryptos-tabs-content .nav-tabs .nav-link.active {
        background-color: #ffaf02;
        color: #292929;
        border-bottom: 3px solid #292929; }
  .cryptos-tabs-content .tab-content h6 {
    font-size: 18px; }

/*# sourceMappingURL=style.css.map */
